.main {
	/* width: 330px; */
	width: calc(100vw - 70px);
	min-height: calc(100vh - 66px);
	display: flex;
	flex-direction: column;
}

a {
	color: #ffc300;
	text-decoration: none;
}

a:hover {
	color: #ffd60a;
	text-decoration: underline;
}

.link {
	margin: 4px;
	list-style: none;
	background-color: rgba(0, 0, 0, 0.2);
	padding: 8px;
	min-width: 100px;
	border-radius: 6px;
	font-size: 1.2em;
	font-weight: 600;
}

.link:hover {
	text-decoration: none;
}

hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #eee;
	width: 100%;
}

.desc {
	font-size: 0.8em;
	color: #aaa;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.desc:hover {
	text-decoration: none;
}

input[type="text"] {
	border-top-style: hidden;
	border-right-style: hidden;
	border-left-style: hidden;
	border: 0 0 0 1px solid #edf2f4;
	background-color: transparent;
	color: #fff;
	font-weight: 600;
	padding: 8px;
	margin: 8px 4px;
	border-radius: 6px;
	width: calc(100vw - 94px);
	outline: none;
	-webkit-text-stroke: 1px #aaa;
	user-select: text;
	-webkit-app-region: no-drag;
}

input[type="button"] {
	background-color: transparent;
	color: #fff;
	font-weight: 600;
	padding: 8px;
	margin: 4px 2px;
	border-radius: 6px;
	width: calc(100vw - 74px);
	-webkit-text-stroke: 1px #aaa;
	user-select: auto;
	-webkit-app-region: no-drag;
}
